.footer {
    background-color: #d8e9e969;
    text-align: center;
    padding: 20px;
}

.footer__link {
    text-decoration: none;
    color: #335829;
}

.linkFishster:hover {
    color: orangered;
    border-bottom: 1px solid;
    outline: none;
}